  html,
  body {
      height: 100%;
      -webkit-animation: fadein .5s;
      animation: fadein .5s;
  }
  
  @keyframes fadein {
      from {
          opacity: 0;
      }
      to {
          opacity: 1;
      }
  }
  
  @-webkit-keyframes fadein {
      from {
          opacity: 0;
      }
      to {
          opacity: 1;
      }
  }
  
  @import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,500,700,900');
  * {
      margin: 0;
      padding: 0;
  }
  /* THIS IS THE SECRET SAUCE for GCpedia, BODY AND SUPER-BODY classes */
  
  body {
      overflow-y: hidden;
      background-color: #f8f8f8;
  }
  
  .super-body {
      position: fixed;
      overflow-y: scroll;
      overflow-x: hidden;
      -ms-overflow-x: hidden;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 10000;
      background-color: #fff;
      -webkit-transition: all .5s ease-in;
      transition: all .5s ease-in;
      font-family: 'Roboto', sans-serif;
      font-size: 14px;
      -webkit-overflow-scrolling: touch;
      -ms-overflow-style: -ms-autohiding-scrollbar;
  }
  
  div#mw-head {
      position: absolute;
      top: 145px;
      right: 0;
      width: 100%;
      display: none;
  }
  
  div#mw-panel {
      font-size: inherit;
      position: absolute;
      top: 160px;
      padding-top: 1em;
      width: 10em;
      left: 0;
      display: none;
  }
  
  #footer {
      display: none;
  }
  
  .mw-content-ltr ul,
  .mw-content-rtl .mw-content-ltr ul {
      margin: 0;
  }
  
  .mw-body .mw-body-content h1 {
      margin-top: 0;
  }
  
  .mw-body h1,
  .mw-body h2 {
      font-family: sans-serif;
      line-height: 1.3;
      margin-bottom: .25em;
      padding: 0;
      border-bottom: 1px solid transparent;
  }
  /*new css*/
  
  h4 {
      padding-top: 0;
  }
  
  .mw-body h3,
  .mw-body h4,
  .mw-body h5,
  .mw-body h6 {
      line-height: 1.2;
      margin-top: .1em;
      margin-bottom: .1em;
      padding-bottom: 0;
  }
  
  .navbar {
      position: relative;
      min-height: 50px;
      margin-bottom: 0px;
      border: 1px solid transparent;
  }
  
  .navbar-default {
      background-color: #fff;
      border-color: #e7e7e7;
  }
  
  .navbar-default .navbar-brand {
      color: #222;
  }
  
  .navbar-default .navbar-brand:hover,
  .navbar-default .navbar-brand:focus {
      color: #5e5e5e;
      background-color: transparent;
  }
  
  .navbar-default .navbar-text {
      color: #222;
  }
  
  .navbar-default .navbar-nav>li>a {
      color: #222;
  }
  
  .navbar-default .navbar-nav>li>a:hover,
  .navbar-default .navbar-nav>li>a:focus {
      color: #111;
      background-color: transparent;
  }
  
  .navbar-default .navbar-nav>.active>a,
  .navbar-default .navbar-nav>.active>a:hover,
  .navbar-default .navbar-nav>.active>a:focus {
      color: #555;
      background-color: #e7e7e7;
  }
  
  .navbar-default .navbar-nav>.disabled>a,
  .navbar-default .navbar-nav>.disabled>a:hover,
  .navbar-default .navbar-nav>.disabled>a:focus {
      color: #ccc;
      background-color: transparent;
  }
  
  .navbar-default .navbar-toggle {
      border-color: #ddd;
  }
  
  .navbar-default .navbar-toggle:hover,
  .navbar-default .navbar-toggle:focus {
      background-color: #ddd;
  }
  
  .navbar-default .navbar-toggle .icon-bar {
      background-color: #888;
  }
  
  .navbar-default .navbar-collapse,
  .navbar-default .navbar-form {
      border-color: #e7e7e7;
  }
  
  .navbar-default .navbar-nav>.open>a,
  .navbar-default .navbar-nav>.open>a:hover,
  .navbar-default .navbar-nav>.open>a:focus {
      color: #555;
      background-color: #e7e7e7;
  }
  
  @media (max-width: 767px) {
      .navbar-default .navbar-nav .open .dropdown-menu>li>a {
          color: #777;
      }
      .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover,
      .navbar-default .navbar-nav .open .dropdown-menu>li>a:focus {
          color: #333;
          background-color: transparent;
      }
      .navbar-default .navbar-nav .open .dropdown-menu>.active>a,
      .navbar-default .navbar-nav .open .dropdown-menu>.active>a:hover,
      .navbar-default .navbar-nav .open .dropdown-menu>.active>a:focus {
          color: #555;
          background-color: #e7e7e7;
      }
      .navbar-default .navbar-nav .open .dropdown-menu>.disabled>a,
      .navbar-default .navbar-nav .open .dropdown-menu>.disabled>a:hover,
      .navbar-default .navbar-nav .open .dropdown-menu>.disabled>a:focus {
          color: #ccc;
          background-color: transparent;
      }
  }
  
  .navbar-default .navbar-link {
      color: #777;
  }
  
  .navbar-default .navbar-link:hover {
      color: #333;
  }
  
  .navbar-default .btn-link {
      color: #777;
  }
  
  .navbar-default .btn-link:hover,
  .navbar-default .btn-link:focus {
      color: #333;
  }
  
  .navbar-default .btn-link[disabled]:hover,
  fieldset[disabled] .navbar-default .btn-link:hover,
  .navbar-default .btn-link[disabled]:focus,
  fieldset[disabled] .navbar-default .btn-link:focus {
      color: #ccc;
  }
  
  .navbar-brand {
      font-weight: bolder;
  }
  
  .logo {
      height: 21px;
  }
  
  .btn {
      min-height: 34px;
  }
  
  .navbar-default .navbar-nav>li>a:visited {
      color: #222;
  }
  
  ul.dropdown-menu {
      padding: 0;
  }
  
  .dropdown-menu>li>a {
      display: block;
      padding: 15px 20px;
      clear: both;
      font-weight: 400;
      line-height: 1.42857143;
      color: #333;
      white-space: nowrap;
      border-bottom: 1px solid #e8e8e8;
  }
  
  .home {
      padding: 20px;
      background-color: #fff;
  }
  
  .home p {
      font-size: 20px;
      font-weight: 400;
  }
  
  .home h2 {
      font-size: 3em;
      font-weight: bolder;
      margin-bottom: 20px;
  }
  
  .home h3 {
      font-weight: bolder;
      margin-top: 40px;
  }
  
  .home {
      padding: 0 0 30px;
  }
  
  .home .filter-button-group {
      padding: 15px 0;
  }
  
  .jumbotron--background-image {
      color: #222;
      min-height: 20vh;
      display: flex;
      align-items: center;
      justify-content: center;
      background-position: 50% 100%;
      background-size: cover;
      background-repeat: no-repeat;
      background-color: #fff;
      text-align: center;
  }
  
  .jumbotron--background-image h3 {
      line-height: 1.4em;
  }
  
  div[class^="col-"] {
      margin-bottom: 20px;
  }
  
  div[class^="col-"] img {
      margin: 30px auto;
  }
  
  .footer {
      padding: 30px 0;
      background-color: #232323;
      color: #e8e8e8;
  }
  
  .footer a {
      color: #e8e8e8;
  }
  
  .navbar-inverse {
      background: rgba(0, 0, 0, 0.8);
  }
  
  .align-top {
      align-self: flex-start;
  }
